@*@{
        ViewData["Title"] = "Acerca de...";
    }*@
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p ALIGN="justify">
    EmpleaRV la aplicación móvil que apoya a las personas con Síndrome de Down y discapacidades cognitivas a tener mayor autonomía para el desarrollo de sus actividades laborales.
</p>
<p ALIGN="justify">
    Esta iniciativa nace al ver la cantidad de personas que sufren distintas discapacidades cognitivas como el síndrome de Down y gracias al 5° Laboratorio de Innovación Ciudadana, celebrado en la ciudad de Rosario, Argentina. Durante dos semanas un equipo de programadores, diseñadores, documentalistas, desarrollaron una aplicación que permite a las personas con distintas discapacidades cognitivas poder a través de la Realidad Virtual recibir capacitación y poder insertarse laboralmente en la sociedad actual, así como el hecho de poder utilizar tecnologías de punta, hasta el momento excluidas de ellos.
</p>
<p ALIGN="justify">
    El promotor del proyecto, Michael Sandoval, Ingeniero multimedia Colombiano, busca crear una metodología de capacitación, usando la realidad virtual, como herramienta de aprendizaje. Por lo cual el proyecto cuenta con un WebService que permite la recopilación de información no solo para verificar el progreso sino también para generar una herramienta de estadística a los profesores y acompañantes donde se puede cuantificar y cualificar el aprendizaje.
</p>

<p ALIGN="justify">
    El proyecto esta apuntado a las asociaciones especializada en las distintas problemáticas de discapacidad cognitiva.
</p>

<div class="item active" align="center">
    <img src="~/images/Portada.jpg" alt="EmpleaVR" class="img-responsive" width="500" height="500"  />
</div>


<p>Derechos reservados</p>