@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sistema realizado para Labic.ar<br />
    Edición 2018<br />
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:carlos.zanutti@gmail.com">carlos.zanutti@gmail.com</a><br />
</address>

