@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"]</h3>*@

<address>
    Sistema realizado para Labic.ar<br />
    Edición 2018<br />
</address>

<address>

     <strong>Facebook:<strong> www.facebook.com/EmpleaRV <br />
    <strong>Instagram:<strong> emplea_rv<br />
    <strong>Twitter:<strong>  EmpleaRV<br />
    <strong>Correo Electronico:<strong> emplearv@gmail.com<br />

    <strong>Suporte:</strong> <a href="mailto:carlos.zanutti@gmail.com">carlos.zanutti@gmail.com</a><br />
</address>

